<div class="update-form">
    <h2>Update User</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="updatedUser.name" required>
      
      <label for="mobile">Mobile:</label>
      <input type="text" id="mobile" name="mobile" [(ngModel)]="updatedUser.mobile" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="updatedUser.email" required>
  
      <button type="submit">Update</button>
    </form>
  </div>
  
